
body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 70%;
    height: 100%;
    border: 1px solid #000;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px 0 10px 0;
    text-align: center;
}


#box{

width: 95.5%;
height: auto;
border: 1px solid #000;
margin: 0 auto;
padding: 10px 10px 10px 10px;
margin: 10px 10px 10px 10px;
background-color: #f0f0f0;

}
#generateRandomHoroscope{
    width: 98%;
    height: auto;
    border: 1px solid #000;
    margin: 0 auto;
    
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: #c3dad6;
    text-align: center;

}

    /* visited link */
    a:visited {
    color: rgb(14, 204, 141);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(19, 6, 209);
  }
  

  
